body {

    background-color: lightgray;

}

p {
    word-wrap: break-word;
}

h2 {
    font-family: "Arial", Sans-serif;
    font-size: 2vw;
}

.box {
    width: 80%;
}

.container {

    position: absolute;
    min-height: 100%;
    left: 10%;
    width: 80%;
    background-color: white;

}

.header {
    position: relative;
    top: 60px;
    left: 55%;
    max-width: 40%;

}

.center {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    font-family: serif;
}

.normalSize {
    position: relative;
    height: 200px;
    float: left;
    margin: 15px;
    right: 50px;
}

.frontTable {
    position: relative;
    width: 100%;
    left: 8%;
}

.miniPics {
    position: relative;
    cursor: pointer;
    width: 94%;

}

.miniPicsContainer {
    width: 32%;
    margin: 1%;
}

.title {
    color: black;
    cursor: pointer;
    text-align: center;

}

.tabs {

    position: relative;
    top: 0;
    left: 5%;
    max-width: 500px;

}

/* Begin Slide Show */

.slider {
    width: 800px;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    left: 6.5%;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    width: 80%;
    left: 76px;
    margin: auto 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.slideDescription {
    position: absolute;
    height: 15%;
    width: 80%;
    left: 10%;
    bottom: 30px;
    color: white;
    margin-top: 0;
    z-index: 1003;
    word-wrap: normal;
}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/
.arrow {
    position: absolute;
    z-index: 1;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.5;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.5;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}

.navPanelLeft {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 76px;
    background-color: black;
    float: left;
    opacity: .5;
}

.navPanelRight {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 76px;
    background-color: black;
    opacity: .5;

}

.navPanelLeft, .navPanelRight {
    -webkit-transition: all linear .4s;
    transition: all linear .4s;
}

.navPanelLeft.ng-hide, .navPanelRight.ng-hide {
    opacity: 0;
}

.navFront {
    text-align: center;
    position: absolute;
    z-index: 1002;
    bottom: -4px;
    width: 80%;
    left: 10%;
    height: 100px;
    background: -webkit-linear-gradient(rgba(25, 0, 0, 0), rgba(118, 118, 118, 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(255, 0, 0, 0), rgba(118, 118, 118, 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(255, 0, 0, 0), rgba(118, 118, 118, 1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(118, 118, 118, 1)); /*Standard*/
}

.nonDraggableImage {
    -webkit-user-drag: none;
}

.navFront .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.navFront ul {
    margin: 0;
    width: 100%;
}

.navFront .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 63px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid white;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
    border: 1px solid white;
}

/* End Slide Show */