body {

    background-color: lightgray;

}
p{
    word-wrap: break-word;
}
h2{
    font-family: "Arial", Sans-serif;
    font-size: 2vw;
}
.box{
    width:80%;
}

.container{

    position: absolute;
    min-height: 100%;
    left: 10%;
    width: 80%;
    background-color: white;


}
.header{
    position: relative;
    top: 60px;
    left: 55%;
    max-width: 40%;

}
.pic{
    position:absolute;
    left:0;
    max-width: 100%;
    max-height: 100%;
}
.picFront{
    position:relative;
    max-width: 100%;
    max-height: 100%;
    margin:0 auto;
}
.fadeOut{
    transition: 1s;
    opacity:0;
    position:relative;
    max-width: 100%;
    max-height: 100%;
}
.fadeIn{
    transition: 0.5s;
    opacity: 1;
    position:relative;
}
.beginBlank{
    opacity:0;
}
.slideShow {

    position: relative;
    top: 50px;
    left: 10%;
    width: 70%;
    height: 40%;
}

.tabular {
    transition:0.5s linear all;
    position:relative;

}
.tabular.ng-enter {
    opacity:0;
    left:-100px;

}
.tabular.ng-enter.ng-enter-active{
    opacity:1;
    left:0;
}
.tabular.ng-leave{

    left:0;
    opacity:1;
}
.tabular.ng-leave.ng-leave-active{
    left:-100px;
    opacity:0;
}

.center {
    text-align:center;
    margin: 0 auto;
    font-size: 40px;
    font-family:serif;
}
.normalSize{
    position:relative;
    height: 200px;
    float: left;
    margin: 15px;
    right:50px;
}
#mini{
    width:100%;
}
.miniPics1{
    position:relative;

    max-width:30%;
    left: 8%;

}
.miniPics2{
    position:relative;

    max-width:30%;
    left:13%;
}
.miniPics3{
    position:relative;
    left:18%;
    max-width:30%;
}
a.title1, a.title2, a.title3, img.miniPics1, img.miniPics2, img.miniPics3{
    cursor: pointer;
}
.title1{
    color:black;
    position: relative;
    left: 8%;
    float: left;


}
.title2{
    color:black;
    position: relative;
    left:23%;
    float: left;

}
.title3{
    color:black;
    position: relative;
    left:35%;
    float: left;

}
.tabs{

    position: relative;
    top: 0%;
    left: 5%;
    max-width: 500px;

}
.enter {
    opacity: 0;
}

.exit {
    opacity: 1;
}
.slider {
    width: 800px;
    max-width:100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    left:75px;
}




.slideDescription{
    position:absolute;
    height:15%;
    width:80%;
    left:10%;
    bottom:30px;
    color:white;
    margin-top:0;
    z-index:1003;
    word-wrap:normal;
}


/*---------------------------------------------------------
NAV
---------------------------------------------------------*/
.arrow {
    position: absolute;
    z-index: 1;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.5;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.5;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}

.navPannelLeft{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:76px;
    background-color:black;
    float:left;
    opacity:.5;
}
.navPannelRight{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:76px;
    background-color:black;
    opacity:.5;

}

.navPannelLeft, .navPannelRight {
    -webkit-transition:all linear .4s;
    transition:all linear .4s;
}

.navPannelLeft.ng-hide, .navPannelRight.ng-hide {
    opacity:0;
}

.navFront {
    text-align: center;
    position: absolute;
    z-index: 1002;
    bottom: -4px;
    width:80%;
    left:10%;
    height: 100px;
    background: -webkit-linear-gradient(rgba(25, 0, 0, 0),rgba(118, 118, 118, 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(255, 0, 0, 0), rgba(118, 118, 118, 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(255,0,0,0), rgba(118, 118, 118, 1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(255,0,0,0), rgba(118, 118, 118, 1)); /*Standard*/
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.navFront .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.navFront ul {
    margin: 0;
    width: 100%;
}

.navFront .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 63px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid white;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color
    0.25s;
    -moz-transition: background-color 0.25s, border-color
    0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
    border: 1px solid white;
}

