<div id="mini" ng-show="isSet(1)">
    <div  class="box">

        <a  href="#/theater"><img ng-click="setTab(5);" ng-src="pics/thumbs/IMG_7200.jpg" class="miniPics1"></a>

        <a href="#/gallary"><img ng-click="setTab(6);" ng-src="pics/121.jpg" class="miniPics2"></a>

       <a href="#/video"><img ng-click="setTab(7);" ng-src="pics/122.png" class="miniPics3"></a>

    </div>
    <h2><a href="#/theater" ng-click="setTab(5);" class="title1">Theatre, Film & TV</a></h2>

    <h2><a href="#/gallary" ng-click="setTab(6);" class="title2" >Gallery</a></h2>

    <h2><a href="#/video" ng-click="setTab(7);"  class="title3">Videos</a></h2>

</div>